* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.short-hr {
  height: 2px; /* Yatay çizginin istediğiniz yüksekliğini burada belirtebilirsiniz */
  margin: 10px 0; /* Opsiyonel: Yatay çizginin üst ve alt boşluklarını ayarlayabilirsiniz */
}
h1{
  text-align: center;
}


.rounded-circle-container {
  text-align: center; /* Resimleri yatayda merkezlemek için */
}

.rounded-circle-container img {
  border-radius: 50%; /* Resimleri yuvarlak yapmak için */
  margin-bottom: 20px; /* Resimlerin altında boşluk bırakmak için */
}
.fixed-size-image {
  
  height: auto; /* Otomatik yükseklik */
  max-width: 300px; /* Maksimum genişlik */
  max-height: 300px; /* Maksimum yükseklik */
}



.footer {
  margin-top: 50px;
  text-align: center;
  color: #000000;
}
