
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin: 0;
  padding: 0;
}
 body {

    justify-content: center;
    background: url(resimler/);
    height: 100vh;
    background-size:100% 100%;


}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height:440px;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}
.wrapper.active{
    height: 440px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18s ease;   
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translate(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;   
    transform: translateX(0);
}

.form-box h1{
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
}
